# Godot 4+ specific ignores
.godot/
/android/

# JJ workspaces
.workspaces/
Killer Sudoku.apk
Killer Sudoku.apk.idsig
Killer Sudoku.console.exe
Killer Sudoku.exe
Killer Sudoku.pck
addons/godot-git-plugin/windows/~libgit_plugin.windows.editor.x86_64.dll

# VS Code 
.vscode/

# Ignore all folders named tmp and their contents
tmp/

# Ignore all files ending with a .tmp extension
*.tmp
